<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-5.0</feature>
        <feature>jakartaee-9.1</feature>
    </featureManager>
    

    <httpEndpoint id="defaultHttpEndpoint" host="*"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="${project.name}.war" contextRoot="${app.context.root}">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />
    <library id="derbyJDBCLib">
        <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
    </library>

    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}"/>
    <dataSource  jndiName="jdbc/mpacademy">
        <jdbcDriver  libraryRef="postgresql-library"/>
        <properties.postgresql serverName="dbacademy"
                             portNumber="5432"
                             databaseName="db_academy"
                             user="docker"
                             password="docker"/>
    </dataSource>

    <jdbcDriver id="postgresql-driver"
                javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                libraryRef="postgresql-library" />

    <library id="postgresql-library">
        <file  name="${server.config.dir}/postgresql-42.6.0.jar"/>
    </library>


<!--    <dataSource id="MicroAcademyDS" jndiName="java:global/jdbc/MicroAcademyDS">-->
<!--        <jdbcDriver libraryRef="postgresql-driver" />-->
<!--    </dataSource>-->

</server>
